<% layout('layouts/boilerplate') %>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <form action="/listings/<%=key._id%>?_method=PUT" method="POST" class="needs-validation" novalidate>
                <h3>Edit Your Listing</h3>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" value="<%=key.title%>" name="listing[title]" class="form-control" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" name="listing[description]" required><%=key.description%></textarea>
                    <div class="invalid-feedback">Description should be valid</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image URL</label>
                    <input type="text" value="<%=key.image%>" name="listing[image]" class="form-control" required>
                    <div class="invalid-feedback">URL should be valid</div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" value="<%=key.price%>" name="listing[price]" class="form-control" required>
                        <div class="invalid-feedback">Price should be valid</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" value="<%=key.country%>" name="listing[country]" class="form-control" required>
                        <div class="invalid-feedback">Country name should be valid</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" value="<%=key.location%>" name="listing[location]" class="form-control" required>
                    <div class="invalid-feedback">Location should be valid</div>
                </div>
                <button class="btn btn-dark edit-btn mb-3 mt-3">Edit</button>
            </form>
        </div>
    </div>
    <script src="/js/script.js"></script>
    