<% layout('layouts/boilerplate') %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-3">
            <h3>Listing Details</h3>
        </div>
    <div class="card col-6 offset-3 show-card">
        <img src="<%= key.image %>" class="card-img-top show-img" alt="listing-imgage">
        <div class="card-body">
            <p class="card-text">
                <b><%= key.title %></b><br>
                <%= key.description %> <br>
                <%= key.location %> <br>
                <%= key.country %> <br>
                &#x20B9;<%= key.price.toLocaleString("en-IN") %> <br>
            </p>
        </div>
    </div>
    <div class="btns">
        <a class="btn btn-dark col-1 offset-3 edit-btn mb-3" href="/listings/<%= key._id %>/edit">Edit</a>
        <form action="/listings/<%=key._id %>?_method=DELETE" method="POST">
            <button class="btn btn-dark offset-5">Delete</button>
        </form>
    </div>
    </div>

</body>